In [8]:
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [9]:
data = pd.read_csv('bank_marketing.csv')
data.head()

   y  age  marital  ever_defaulted  housing_loan  Personal_loan
0  0   56        1               0             0              0
1  0   37        1               0             1              0
2  0   40        1               0             0              0
3  0   56        1               0             0              1
4  0   59        1               0             0              0

In [10]:
col_to_scale =['age']

In [11]:
data[col_to_scale] = scaler.fit_transform(data[col_to_scale])
data.head()

   y       age  marital  ever_defaulted  housing_loan  Personal_loan
0  0  0.500000        1               0             0              0
1  0  0.256410        1               0             1              0
2  0  0.294872        1               0             0              0
3  0  0.500000        1               0             0              1
4  0  0.538462        1               0             0              0

In [12]:
X = data.drop('y',axis = 1)
Y = data['y']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.20,random_state = 42)
test_df = pd.concat ([X_test,y_test],axis =1 )

In [14]:
model = keras.Sequential([
keras.layers.Dense(3, input_shape = (5,),activation = 'relu'),
keras.layers.Dense(2, input_shape = (3,),activation = 'relu'),
keras.layers.Dense(1,activation = 'sigmoid'),
])

In [15]:
model.compile(optimizer ='adam',
loss = 'binary_crossentropy',
metrics = ['accuracy']
)

In [16]:
model.fit(X_train,y_train,epochs = 5)

Epoch 1/5
794/794 [==============================] - 0s 290us/step - loss: 0.5795 - accuracy: 0.8708
Epoch 2/5
794/794 [==============================] - 0s 273us/step - loss: 0.4514 - accuracy: 0.8708
Epoch 3/5
794/794 [==============================] - 0s 269us/step - loss: 0.4043 - accuracy: 0.8708
Epoch 4/5
794/794 [==============================] - 0s 272us/step - loss: 0.3895 - accuracy: 0.8708
Epoch 5/5
794/794 [==============================] - 0s 273us/step - loss: 0.3857 - accuracy: 0.8708

In [17]:
model.evaluate(X_test,y_test)

199/199 [==============================] - 0s 345us/step - loss: 0.3812 - accuracy: 0.8730

[0.38117480278015137, 0.8729534149169922]

In [18]:
yp = model.predict(X_test)

199/199 [==============================] - 0s 382us/step

In [19]:
y_pred = []
for element in yp:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [20]:
accuracy_score(y_test, y_pred)

0.8729534005037783